@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-gray-100;
  width: 100%;
}

@media (min-width: 2000px) { 
  html {
    font-size: 25px;
  }
}

@media (min-width: 3000px) { 
  html {
    font-size: 40px;
  }
}


/* Hide arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
